html {
  background-color: #eaeaea;
}

header, footer, .btn {
  background-color: #3b8d8b;
}

.main-title, .footer-title, nav {
  color: #fff;
  font-family: Raleway, sans-serif;
}

h2, h3, h4, .page-title, .titles, .price {
  color: #3b8d8b;
  font-family: "Be Vietnam", sans-serif;
}

.img-w {
  width: 100%;
}

.img-w-2 {
  width: 45%;
}

.test-1 {
  padding: 0 1.5rem 1.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #3b8d8b;
  background-color: #fff;
}

.btn-1:hover {
  color: #fff;
  background-color: #1463cb;
  border-color: #1463cb;
}

.btn-2:hover {
  color: #fff;
  background-color: #1463cb;
  border-color: #1463cb;
}

.btn-3:hover {
  color: #fff;
  background-color: #1463cb;
  border-color: #1463cb;
}

.btn-4:hover {
  color: #3b8d8b;
  background-color: #fff;
  border-color: #3b8d8b;
}

.btn-5:hover {
  color: #3b8d8b;
  background-color: #fff;
  border-color: #3b8d8b;
}

p, span, .form, .section-title {
  font-family: "Josefin Sans", sans-serif;
}

.btn-1 {
  font-family: "Be Vietnam", sans-serif;
  border-radius: 40px;
  max-width: 20em;
  position: absolute;
  width: 100%;
  left: 65%;
  transform: translateX(-50%);
  bottom: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #fff;
  background-color: #3b8d8b;
  border-color: #3b8d8b;
}

.btn-2 {
  font-family: "Be Vietnam", sans-serif;
  border-radius: 40px;
  max-width: 20em;
  color: #3b8d8b;
  background-color: #fff;
  border-color: #fff;
}

.btn-3 {
  font-family: "Be Vietnam", sans-serif;
  width: 30%;
  color: #fff;
  background-color: #3b8d8b;
  border-color: #3b8d8b;
}

.btn-4 {
  width: 50%;
  color: #fff;
  background-color: #1463cb;
  border-color: #1463cb;
}

.btn-5 {
  width: 50%;
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.quote-2 {
  color: #fff;
  background-color: #3b8d8b;
}

.quote-5 {
  color: #fff;
  background-color: #024561;
}

@media only screen and (min-width: 38em) {

  .test-1 {
    padding: 0 1.5rem 1.5rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .q-1, .q-4 {
    color: #fff;
    position: absolute;
    width: 100%;
    max-width: 50em;
    left: 65%;
    transform: translateX(-50%);
    bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}
